{
  "extends": [
    "airbnb",
    "standard"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "react/prefer-stateless-function": "off"
  }
}
