// Local overrides
@import './variables';
@import './mixins';

// Get Big Bertha
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

// Your styles below. Feel free to organize as you wish, using BEM, something
// similar or just create a big mess here. Practicality beats purity,
// especially if it generates more $$$.

body {
  /* Show it's not fixed to the top */
  min-height: 75rem;
  padding-top: 6rem;
}

footer {
  font-size: 12px;
  color: #999;
  text-align: center;
}
